<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto" android:versionCode="1" android:versionName="1.0" package="org.solovyev.android.messenger">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <!--<uses-permission android:name="com.android.vending.BILLING"/>-->

    <uses-sdk android:minSdkVersion="4" android:targetSdkVersion="13"/>

    <application android:debuggable="true" android:hardwareAccelerated="false" android:icon="@drawable/icon" android:label="@string/mpp_app_name" android:name="org.solovyev.android.messenger.MessengerApplication" android:theme="@style/Theme.Messenger">

        <activity android:label="@string/mpp_app_name" android:name="org.solovyev.android.messenger.MessengerStartActivity" android:windowSoftInputMode="adjustPan">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>

        <activity android:label="@string/mpp_app_name" android:name="org.solovyev.android.messenger.MessengerLoginActivity"/>

        <activity android:label="@string/mpp_app_name" android:name="org.solovyev.android.messenger.MessengerRegistrationActivity"/>

        <activity android:label="@string/mpp_app_name" android:name="org.solovyev.android.messenger.MessengerRegistrationActivity"/>

        <activity android:label="@string/mpp_app_name" android:name="org.solovyev.android.messenger.chats.MessengerChatsActivity"/>

        <activity android:label="@string/mpp_app_name" android:name="org.solovyev.android.messenger.MessengerPreferencesActivity"/>

        <activity android:label="@string/mpp_app_name" android:name="org.solovyev.android.messenger.MessengerMainActivity"/>
        <activity android:label="@string/mpp_app_name" android:name="org.solovyev.android.messenger.messages.MessengerMessagesActivity"/>

<!--        <provider android:authorities="NotesSearchSuggestions" android:name=".NotesSuggestionsProvider"/>

        <activity android:label="@string/c_app_name" android:name=".NotesPreferenceActivity"/>

        <activity android:label="@string/c_app_name" android:name=".NotesAboutActivity"/>

        <activity android:label="@string/c_app_name" android:name=".NotesEditNoteActivity"/>

        <activity android:label="@string/c_app_name" android:name=".NotesItemActivity"/>-->

        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" android:name="com.google.ads.AdActivity"/>

        <service android:name="org.solovyev.android.messenger.MessengerService">
            <intent-filter>
                <action android:name="org.solovyev.android.messenger.API_SERVICE"/>
            </intent-filter>
        </service>

        <service android:name="net.robotmedia.billing.BillingService"/>
        <receiver android:name="net.robotmedia.billing.BillingReceiver">
            <intent-filter>
                <action android:name="com.android.vending.billing.IN_APP_NOTIFY"/>
                <action android:name="com.android.vending.billing.RESPONSE_CODE"/>
                <action android:name="com.android.vending.billing.PURCHASE_STATE_CHANGED"/>
            </intent-filter>
        </receiver>

    </application>
</manifest>