<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="org.solovyev.android.messenger.realms.sms"
	android:versionCode="1"
	android:versionName="1.0">

	<uses-permission android:name="android.permission.READ_CONTACTS"/>
	<uses-permission android:name="android.permission.GET_ACCOUNTS" />

	<uses-sdk
			android:minSdkVersion="7"
			android:targetSdkVersion="17"/>

</manifest>